/* 公共樣式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
}

a {
  text-decoration: none;
  /* 取消文字修飾 */
}

article,
section,
aside,
address,
nav,
header,
footer,
img {
  display: block;
}

img {
  border: none;
}

li {
  list-style: none;
}

.formContainer {
  height: 300px;
  width: 450px;
  margin: 10px 20px;
}

.formTitle {
  font-size: 25px;
  margin-bottom: 10px;
}

.formBody {
  display: gird;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  
}

.inputContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  margin-top: 25px;
}

.radioGroup {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 12 1fr;
  padding: 18px;
  align-items: center;
  margin-top: 20px;
}

.radioGroup:hover {
  border-color: #333;
}

.radioInput {
  appearance: none;
  border: 1px solid #333;
  border-radius: 50%;
  height: 23px;
  width: 23px;
  cursor: pointer;
  display: inline-block;
  grid-column: 1/2;
  position: relative;
}


input:checked {
  border: 5px solid #333;
}

.radioInfo{
  grid-column: 2/13;
}

.deliverDes {
  display: flex;
  justify-content: space-between;
}

.text {
  font-size: 19px;
}

.price {
  font-size: 17px;
}

.period {
  font-size: 15px;
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin: 30px 20px 0;
  border-top: 1px solid #ccc;
  padding-top: 30px;
}
