* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
}

a {
  text-decoration: none;
  /* 取消文字修飾 */
}

article,
section,
aside,
address,
nav,
header,
footer,
img {
  display: block;
}

img {
  border: none;
}

li {
  list-style: none;
}

button {
  height: 45px;
  width: 150px;
  line-height: 30px;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextProgressBtn {
  background-color: rgb(252, 128, 169);
  border: 1px solid rgb(252, 128, 169);
}

.prevProgressBtn {
  align-items: left;
  background-color: white;
  color: #333;
  border: 1px solid white;
}