* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
}

a {
  text-decoration: none;
  /* 取消文字修飾 */
}

article,
section,
aside,
address,
nav,
header,
footer,
img {
  display: block;
}

img {
  border: none;
}

li {
  list-style: none;
}

.mainContainer {
  margin: 0 auto;
  max-width: 1200px;
  height: 900px;
}


.registerContainer {
  display: flex;
  justify-content: space-between;

}

/* .registerBody {
} */

.siteTitleContainer {
  margin: 150px 120px 40px 120px;
}

.siteName {
  font-size: 32px;
}